h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
}


.select-box {
	width: 100%;
	border-radius: 4px;
	border: #ccc solid 1px;
	background: #fff;
	padding: 15px 0px;
	max-height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}

.select-box label:hover {
	background: #f4f4f4;
}

.select-box label {
		cursor: pointer;
		padding: 5px 15px;
		
		width: 100%;
	}
	
.select-box input {
	margin-right: 5px;
}