<!DOCTYPE html>
<html>
<head>
<title>Members</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/libraries/bootstrap.min.css"
	th:href="@{css/libraries/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/members.css"
	th:href="@{css/members.css}" />
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Rummy</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./users">Users</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>Add Plyers</h1>
			<div class="row">
				<div class="col-sm-7">
					<div class="select-box" id="select_box">
						<label>
							<input type="checkbox" name="select_1" value="Gautham"/>
							Gautham
						</label>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-4">
					<h2 id="game_id">Game Id: <span></span></h2>
					<button class="btn btn-block btn-primary" type="button" onclick="members.addPlayers()">Submit</button>
				</div>
			</div>		
      </div>

    </div>
    <script type="text/javascript"
		src="../static/js/libraries/jquery-3.2.1.min.js"
		th:src="@{js/libraries/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript"
		src="../static/js/libraries/bootstrap.min.js"
		th:src="@{js/libraries/bootstrap.min.js}"></script>
		<script type="text/javascript"
		src="../static/js/ajax.js"
		th:src="@{js/ajax.js}"></script>
	<script type="text/javascript"
		src="../static/js/members.js"
		th:src="@{js/members.js}"></script>
	</body>
</html>